#screen {
    display: block;
    border: 1px solid #d3d3d3;
    background-color: rgb(53, 53, 53);
    width: 800;
    height: 800;
}

#debugText {
    margin-top: 15px;
    color: gray;
}

#debugText2 {
    margin-top: 15px;
    color: gray;
}

.center {
    width: 800;
    margin-left: auto;
    margin-right: auto;
}

.subPanel {
    padding-top: 15px;
}

body {
    background-color: black;
}